<%- include('header') %>
<h1>Weapon factories</h1>

<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Net worth</th>
            <th>Year of Est.</th>
            <th>No. of Models</th>
            <th>Active?</th>
            <th>Operations</th>
        </tr>
        <tr>
            <td>
                <a href="models.html">Heckler & Koch</a>
            </td>
            <td>Obendorf, Germany</td>
            <td>240 mill. EUR</td>
            <td>1949</td>
            <td>2</td>
            <td><input type="checkbox" value="active" Checked></td>
            <td>
                <a href="companies_edit.html">Edit</a>
                <a href="companies.html">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="models.html">Glock</a>
            </td>
            <td>Deutch-Wagram, Austria</td>
            <td>60 mill. EUR</td>
            <td>1963</td>
            <td>3</td>
            <td><input type="checkbox" value="active" Checked></td>
            <td>
                <a href="companies_edit.html">Edit</a>
                <a href="companies.html">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="models.html">Colt</a>
            </td>
            <td>West Hartford, USA</td>
            <td>350 mill. EUR</td>
            <td>1855</td>
            <td>4</td>
            <td><input type="checkbox" value="active" Checked></td>
            <td>
                <a href="companies_edit.html">Edit</a>
                <a href="companies.html">Delete</a>
            </td>
        </tr>
    </table>
</div>

<form class="add-item" action="companies_edit.html">
    <input type="submit" value="Create new company" />
</form>
<%- include('footer') %>